:root {
  /* Primary Colors */
  --bg-red: #fb1b1b;
  --bg-yellow: #d5a100;
  --bg-blue: #0a285f;
  /* Secondary Colors*/
  --bg-gray: #dfdfdf;
  --bg-white: #ffffff;
  --bg-black: #000000;
  /* fonts */
  --font-title: "Russo One", Arial, sans-serif;
  --font-body: "Roboto", Impact,  sans-serif;
  --box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  background: var(--bg-gray);
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--bg-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-yellow);
  border-radius: 10px;
  border: 4px solid var(--bg-gray);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-blue);
}

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-gray);
  font-family: var(--font-body);
}

main {
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: 60%;
  background-attachment: fixed;
  background-position: -20% -20%;
  background-color: var(--bg-gray);
  background-blend-mode: luminosity;
}

footer {
  background-color: var(--bg-yellow);
}

header {
  padding: 1em;
  display: flex;
  background-color: var(--bg-blue);
}

header .navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header .nav-link {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: var(--bg-white);
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-title);
  padding: 0.5em;
  transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}

header .nav-link:hover {
  filter: drop-shadow( var(--box-shadow) );
  transform: translateY(-5px);
}

header .nav-link img {
  width: 40px;
  height: auto;
  margin-right: 10px;
  filter: invert(1);
}

/* Body Pokemon */

.container {
  max-width: 1200px;
  padding: 2em 1em;
  margin: 0 auto;
}
.row {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.lg-col-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.col-pokemon {
  text-align: center;
  position: relative;
}
.col-pokemon .name-pokemon {
  background-color: var(--bg-white);
  max-width: 70%;
  padding: 1em;
  margin: 0 auto 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
  font-family: var(--font-title);
}
.col-pokemon .image-pokemon {
  width: 500px;
  height: 500px;
  object-fit: contain;
  transition: filter .5s ease-in-out, transform .7s ease-in-out;
}
.col-pokemon .image-pokemon:hover {
  filter: drop-shadow( var(--box-shadow) );
  transform: translateY(-5px);
}

.col-card .card {
  max-width: 420px;
  padding: 1.5em;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 400px;
}

.card .features{
  columns: 2;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.card .features .item {
  padding: .5em;
  text-align: center;
  margin-bottom: 10px;
  transition: transform .5s ease-in-out;
  border-radius: 20px;
  background-color: rgba( 223, 223, 223, .2);
}
.card .features .item:hover {
  transform: translateY(-3px);
  background-color: var(--bg-gray);
}

.card .features .item .title-item {
  font-size: .9em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .6);
  font-weight: 700;
}

.card .features .item .data-item{
  font-size: 1.5em;
  margin: .5em 0;
  font-family: var(--font-title);
  color: var(--bg-blue);
  /*text-transform: uppercase;*/
}

/* Footer */
.col-others {
  display: flex;
  align-items: center;
}
.col-others h2 {
  font-size: 3em;
  text-transform: uppercase;
  color: var(--bg-blue);
  font-family: var(--font-title);
  letter-spacing: 1.5px;
}
.col-list-pokemon{
  padding: 1em;
}
.col-list-pokemon .list-pokemon {
  margin: 0;
  padding: 0;
  list-style: none;
  columns: 4;
  gap: 10px;
  text-align: right;
}
.list-pokemon .pokemon-item {
  border-radius: 20px;
}
.list-pokemon .pokemon-item .btn {
  padding: .5em;
  border: none;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  filter: grayscale(1);
  transition: transform .5s ease-in-out, filter .5s ease-in-out;
}

.list-pokemon .pokemon-item .btn .image {
  width: 80px;
  height: 120px;
  object-fit: contain;
  transition: transform .5s ease-in-out, filter .5s ease-in-out;
}

.list-pokemon .pokemon-item .btn:hover {
  filter: grayscale(0);
  transform: translateY(5px) rotate(3deg) scale(.9);
}

.list-pokemon .pokemon-item .btn:hover .image {
  transform: translateY(-25px) scale(1.8);
  filter: drop-shadow( var(--box-shadow));
}

/* Responsive Mobile */
@media (max-width: 768px) {
  header {
    justify-content: center;
  }

  header .nav-link {
    font-size: 1.2em;
  }

  header .nav-link img {
    width: 30px;
    height: auto;
  }

  main {
    background-size: 40%;
    background-attachment: fixed;
    background-position: 115% 30%;
    background-color: var(--bg-gray);
    background-blend-mode: luminosity;
  }

  /* Body Pokemon */
  .container {
    padding: 1.2em 0.8em;
  }
  .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-pokemon .name-pokemon {
    max-width: 320px;
    font-size: 1.5em;
  }
  .col-pokemon .image-pokemon {
    margin-bottom: -5em;
    width: 80%;
    height: auto;
  }
  .col-card .card {
    padding-top: 1.5em;
    max-width: 320px;
  }

  .card .features {
    margin-top: 85px;
    columns: 1;
  }
  .card .features .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 2em ;
  }
  .card .features .item .title-item {
    margin-right: 15px;
    font-size: .8em;
  }
  .card .features .item .data-item {
    font-size: 1em;
  }

  .col-others {
    justify-content: center
  }

  .col-list-pokemon .list-pokemon {
    columns: 2;
    gap: 20px;
  }
  .list-pokemon .pokemon-item { 
    max-width: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
